<link rel="shortcut icon" href="images/sunflower.png"/> 
<title>Erom Fajunio</title>
<link href= "style.css" rel="stylesheet" type="text/css">
   <style>
  
    </style>
    </head>
    <body>
        <div id="background">
                <div id="background3"><img src="images/background3.png"></div>
                <div id="background2"><img src="images/background2.png"></div>
                            <div id="image1"><img src="images/image1.png"></div>
            <div id="image2"><img src="images/image2.png"></div>  
            <div id="image3"><img src="images/image3.png"></div>  
            <div id="image4"><img src="images/image4.png"></div>
            <div id="image5"><img src="images/image5.png"></div>
            <div id="image7"><img src="images/image7.png"></div>
            <div id="image8"><img src="images/image8.png"></div> 
            <div id="image9"><img src="images/image9.png"></div>
            <div id="image10"><img src="images/image10.png"></div> 
        <div id="background1"><img src="images/background1.png"></div>
        <div id="MyName"><img src="images/MyName.png"></p>
            <div id="Slogan1"><img src="images/Slogan1.png"></div>
            <div id="MyFace"><img src="images/MyFace.png"></div>
            <div id="works"><p>W O R K S</p></div>  



            <div id="Slogan2"><img src="images/Slogan2.png"></div>
            <div id="about"><p>A B O U T</p></div>
            <div id="Me"><p> 	
                        I’m a photographer and videographer based in Davao City, Philippines.
                    I love good conversations, photoshoots and videos, and I love Sunflowers. Owns also a parallel shop son’s and daughters.
            
            <br><br>For Photoshoots, Video Cover Commissions, please don’t hesitate to contact me.</p></div>
        </div>
                
                          



    </body>