body {
  
    margin: 0;
	padding: 0;
}
#background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1366px;
	 height: 2504px; 
	 overflow: hidden;
	 z-index:0;
	} 
#background1 
{ 
	 left: -1px; 
	 top: -23px; 
	 position: absolute; 
	 width: 1378px;
	 height: 637px;
	 z-index:12;
} 
#MyName 
{ 
	 left: 60px; 
	 top: 41px; 
	 position: absolute; 
	 width: 245px;
	 height: 21px;
	 z-index:18;
} 
#Slogan1 
{ 
	 left: 354px; 
	 top: 286px; 
	 position: absolute; 
	 width: 652px;
	 height: 24px;
	 z-index:19;
} 
#MyFace 
{ 
	 left: 561px; 
	 top: 457px; 
	 position: absolute; 
	 width: 255px;
	 height: 255px;
	 z-index:13;
} 
#works 
{ 
	 left: 651px; 
	 top: 748px; 
	 position: absolute; 
	 width: 87px;
	 height: 17px;
     z-index:17;
     color: white;
     font-family:Trajan Pro 3;
     font-size: 17px;
    }
    #image1 
    { 
         left: 27px; 
         top: 807px; 
         position: absolute; 
         width: 425px;
         height: 284px;
         z-index:3;
    } 
    #image2 

{ 
	 left: 467px; 
	 top: 806px; 
	 position: absolute; 
	 width: 425px;
	 height: 284px;
	 z-index:7;
} 
#image3 
{ 
	 left: 910px; 
	 top: 806px; 
	 position: absolute; 
	 width: 424px;
	 height: 284px;
	 z-index:6;
} 
#image4 
{ 
	 left: 28px; 
	 top: 1108px; 
	 position: absolute; 
	 width: 424px;
	 height: 283px;
	 z-index:5;
} 
#image5 
{ 
    left: 468px; 
    top: 1107px; 
    position: absolute; 
    width: 425px;
    height: 284px;
    z-index:4;
} 

#image7 
{ 
	 left: 910px; 
	 top: 1108px; 
	 position: absolute; 
	 width: 425px;
	 height: 283px;
	 z-index:11;
} 
#image8 
{ 
	 left: 26px; 
	 top: 1409px; 
	 position: absolute; 
	 width: 425px;
	 height: 284px;
	 z-index:9;
} 
#image9 
{ 
	 left: 467px; 
	 top: 1409px; 
	 position: absolute; 
	 width: 425px;
	 height: 284px;
	 z-index:8;
} 
#image10 
{ 
	 left: 911px; 
	 top: 1410px; 
	 position: absolute; 
	 width: 424px;
	 height: 284px;
	 z-index:10;
} 
#background2 
{ 
	 left: 0px; 
	 top: 1758px; 
	 position: absolute; 
	 width: 1366px;
	 height: 645px;
	 z-index:2;
} 
#background3 
{ 
	 left: -1px; 
	 top: -23px; 
	 position: absolute; 
	 width: 1378px;
	 height: 1140px;
	 z-index:1;
} 
#Slogan2 
{ 
	 left: 70px; 
	 top: 2024px; 
	 position: absolute; 
	 width: 512px;
	 height: 152px;
	 z-index:14;
} 
#about 
{ 
	 left: 941px; 
	 top: 1894px; 
	 position: absolute; 
	 width: 109px;
	 height: 23px;
     z-index:16;
     color: white;
     font-size: 24px;
} 
#Me 
{ 
	 left: 666px; 
	 top: 1994px; 
	 position: absolute; 
	 width: 656px;
	 height: 300px;
     z-index:15;
     color: white;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 20px;
} 